/* Initial state when the component is mounted */
.page-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  /* Transition when the component is entering */
  .page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  /* Transition when the component is exiting */
  .page-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Transition when the component is exiting */
  .page-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  